/*
*{
	margin: 0;
	padding: 0;

}

*/
@font-face {
	font-family: 'El Rio Lobo';
	src: url('../fonts/The_Emperors_font.eot');
	src: url('../fonts/The_Emperors_font.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/The_Emperors_font.woff') format('woff'),
		 url('../fonts/The_Emperors_font.ttf')  format('truetype'),
		 url('../fonts/The_Emperors_font.svg#04a895ec2b9535ff55881607625d1b84') format('svg');

	font-style: normal;
	font-weight: 400;
}

body {

}


h1{
	font-family: 'El Rio Lobo';
	color:gold;
	font-size:50px;
	margin-top: 0;

}


.Sec1{
	background-color: #AF2608;
	color:white;
	text-align: center;
	padding-bottom: 10px;

}

.Sec2{
	background-color: blue;
	align-content: center;
}

.Sec3{
	background-image: url(../images/cuzco2.jpg);
	min-height: 700px;
	background-repeat: no-repeat;
	background-size: cover;

}

.cuzco{
	font-family: 'El Rio Lobo';
	font-size: 50px;
	color:gold;
	margin-top: 0;
}	

.img1{
	display:block;
	margin:auto;
}


.TCorrido{
	font-family: arial;
	text-align: right;
	color:white;
	font-weight: bold;
}

.Precios{
	text-align: center;
	font-size: 40px;
	font-family: 'El Rio Lobo';
}

